/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.TS_EAMCET_8_May_2024_S1_119 {max-width:116px; max-height:169px; }
.TS_EAMCET_8_May_2024_S1_119::after {content: '\00a0';display: inline-block; width:116px; height:169px; background-position: 93.94736842105263% 70.83047357584077%; background-size: 427.58620689655174% 962.1301775147929%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_119::after {max-width:116px; width:100%;height:0;padding: 0 0 145.68965517241378% 0;}
.TS_EAMCET_8_May_2024_S1_129 {max-width:121px; max-height:156px; }
.TS_EAMCET_8_May_2024_S1_129::after {content: '\00a0';display: inline-block; width:121px; height:156px; background-position: 95.2% 59.523809523809526%; background-size: 409.91735537190084% 1042.3076923076924%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_129::after {max-width:121px; width:100%;height:0;padding: 0 0 128.92561983471074% 0;}
.TS_EAMCET_8_May_2024_S1_129_a {max-width:171px; max-height:178px; }
.TS_EAMCET_8_May_2024_S1_129_a::after {content: '\00a0';display: inline-block; width:171px; height:178px; background-position: 0.3076923076923077% 76.79558011049724%; background-size: 290.05847953216374% 913.4831460674158%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_129_a::after {max-width:171px; width:100%;height:0;padding: 0 0 104.09356725146199% 0;}
.TS_EAMCET_8_May_2024_S1_129_b {max-width:174px; max-height:180px; }
.TS_EAMCET_8_May_2024_S1_129_b::after {content: '\00a0';display: inline-block; width:174px; height:180px; background-position: 56.52173913043478% 60.511756569847854%; background-size: 285.0574712643678% 903.3333333333334%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_129_b::after {max-width:174px; width:100%;height:0;padding: 0 0 103.44827586206897% 0;}
.TS_EAMCET_8_May_2024_S1_129_c {max-width:168px; max-height:172px; }
.TS_EAMCET_8_May_2024_S1_129_c::after {content: '\00a0';display: inline-block; width:168px; height:172px; background-position: 52.74390243902439% 87.96423658872077%; background-size: 295.23809523809524% 945.3488372093024%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_129_c::after {max-width:168px; width:100%;height:0;padding: 0 0 102.38095238095238% 0;}
.TS_EAMCET_8_May_2024_S1_129_d {max-width:160px; max-height:160px; }
.TS_EAMCET_8_May_2024_S1_129_d::after {content: '\00a0';display: inline-block; width:160px; height:160px; background-position: 0.2976190476190476% 99.31787175989086%; background-size: 310% 1016.25%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_129_d::after {max-width:160px; width:100%;height:0;padding: 0 0 100% 0;}
.TS_EAMCET_8_May_2024_S1_137 {max-width:170px; max-height:143px; }
.TS_EAMCET_8_May_2024_S1_137::after {content: '\00a0';display: inline-block; width:170px; height:143px; background-position: 53.06748466257669% 76.53405259608901%; background-size: 291.7647058823529% 1137.062937062937%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_137::after {max-width:170px; width:100%;height:0;padding: 0 0 84.11764705882354% 0;}
.TS_EAMCET_8_May_2024_S1_144_a {max-width:180px; max-height:149px; }
.TS_EAMCET_8_May_2024_S1_144_a::after {content: '\00a0';display: inline-block; width:180px; height:149px; background-position: 0.31645569620253167% 56.668923493568045%; background-size: 275.55555555555554% 1091.275167785235%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_144_a::after {max-width:180px; width:100%;height:0;padding: 0 0 82.77777777777777% 0;}
.TS_EAMCET_8_May_2024_S1_144_b {max-width:228px; max-height:167px; }
.TS_EAMCET_8_May_2024_S1_144_b::after {content: '\00a0';display: inline-block; width:228px; height:167px; background-position: 99.6268656716418% 27.553118574366003%; background-size: 217.5438596491228% 973.6526946107784%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_144_b::after {max-width:228px; width:100%;height:0;padding: 0 0 73.24561403508773% 0;}
.TS_EAMCET_8_May_2024_S1_144_c {max-width:234px; max-height:159px; }
.TS_EAMCET_8_May_2024_S1_144_c::after {content: '\00a0';display: inline-block; width:234px; height:159px; background-position: 0.3816793893129771% 46.14860259032038%; background-size: 211.96581196581195% 1022.6415094339623%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_144_c::after {max-width:234px; width:100%;height:0;padding: 0 0 67.94871794871794% 0;}
.TS_EAMCET_8_May_2024_S1_144_d {max-width:265px; max-height:155px; }
.TS_EAMCET_8_May_2024_S1_144_d::after {content: '\00a0';display: inline-block; width:265px; height:155px; background-position: 0.4329004329004329% 24.67709041468389%; background-size: 187.16981132075472% 1049.032258064516%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_144_d::after {max-width:265px; width:100%;height:0;padding: 0 0 58.490566037735846% 0;}
.TS_EAMCET_8_May_2024_S1_153_a {max-width:238px; max-height:125px; }
.TS_EAMCET_8_May_2024_S1_153_a::after {content: '\00a0';display: inline-block; width:238px; height:125px; background-position: 99.6124031007752% 44.103930712858094%; background-size: 208.4033613445378% 1300.8%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_153_a::after {max-width:238px; width:100%;height:0;padding: 0 0 52.52100840336134% 0;}
.TS_EAMCET_8_May_2024_S1_153_b {max-width:173px; max-height:124px; }
.TS_EAMCET_8_May_2024_S1_153_b::after {content: '\00a0';display: inline-block; width:173px; height:124px; background-position: 0.30959752321981426% 65.71238348868175%; background-size: 286.70520231213874% 1311.2903225806451%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_153_b::after {max-width:173px; width:100%;height:0;padding: 0 0 71.67630057803468% 0;}
.TS_EAMCET_8_May_2024_S1_153_c {max-width:151px; max-height:112px; }
.TS_EAMCET_8_May_2024_S1_153_c::after {content: '\00a0';display: inline-block; width:151px; height:112px; background-position: 99.71014492753623% 79.39233817701454%; background-size: 328.47682119205297% 1451.7857142857142%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_153_c::after {max-width:151px; width:100%;height:0;padding: 0 0 74.17218543046357% 0;}
.TS_EAMCET_8_May_2024_S1_153_d {max-width:140px; max-height:111px; }
.TS_EAMCET_8_May_2024_S1_153_d::after {content: '\00a0';display: inline-block; width:140px; height:111px; background-position: 96.06741573033707% 92.60726072607261%; background-size: 354.2857142857143% 1464.8648648648648%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_153_d::after {max-width:140px; width:100%;height:0;padding: 0 0 79.28571428571429% 0;}
.TS_EAMCET_8_May_2024_S1_154_a {max-width:164px; max-height:78px; }
.TS_EAMCET_8_May_2024_S1_154_a::after {content: '\00a0';display: inline-block; width:164px; height:78px; background-position: 0.30120481927710846% 88.95348837209302%; background-size: 302.4390243902439% 2084.6153846153848%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_154_a::after {max-width:164px; width:100%;height:0;padding: 0 0 47.5609756097561% 0;}
.TS_EAMCET_8_May_2024_S1_154_b {max-width:172px; max-height:78px; }
.TS_EAMCET_8_May_2024_S1_154_b::after {content: '\00a0';display: inline-block; width:172px; height:78px; background-position: 54.01234567901235% 68.21705426356588%; background-size: 288.3720930232558% 2084.6153846153848%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_154_b::after {max-width:172px; width:100%;height:0;padding: 0 0 45.348837209302324% 0;}
.TS_EAMCET_8_May_2024_S1_154_c {max-width:168px; max-height:85px; }
.TS_EAMCET_8_May_2024_S1_154_c::after {content: '\00a0';display: inline-block; width:168px; height:85px; background-position: 0.3048780487804878% 83.77676833225179%; background-size: 295.23809523809524% 1912.9411764705883%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_154_c::after {max-width:168px; width:100%;height:0;padding: 0 0 50.595238095238095% 0;}
.TS_EAMCET_8_May_2024_S1_154_d {max-width:139px; max-height:71px; }
.TS_EAMCET_8_May_2024_S1_154_d::after {content: '\00a0';display: inline-block; width:139px; height:71px; background-position: 45.378151260504204% 98.7781350482315%; background-size: 356.8345323741007% 2290.1408450704225%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_154_d::after {max-width:139px; width:100%;height:0;padding: 0 0 51.07913669064748% 0;}
.TS_EAMCET_8_May_2024_S1_155_a {max-width:96px; max-height:38px; }
.TS_EAMCET_8_May_2024_S1_155_a::after {content: '\00a0';display: inline-block; width:96px; height:38px; background-position: 75.5% 99.93702770780857%; background-size: 516.6666666666666% 4278.9473684210525%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_155_a::after {max-width:96px; width:100%;height:0;padding: 0 0 39.583333333333336% 0;}
.TS_EAMCET_8_May_2024_S1_155_b {max-width:96px; max-height:39px; }
.TS_EAMCET_8_May_2024_S1_155_b::after {content: '\00a0';display: inline-block; width:96px; height:39px; background-position: 99.75% 95.46313799621929%; background-size: 516.6666666666666% 4169.2307692307695%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_155_b::after {max-width:96px; width:100%;height:0;padding: 0 0 40.625% 0;}
.TS_EAMCET_8_May_2024_S1_155_c {max-width:75px; max-height:50px; }
.TS_EAMCET_8_May_2024_S1_155_c::after {content: '\00a0';display: inline-block; width:75px; height:50px; background-position: 71.73396674584323% 97.46192893401015%; background-size: 661.3333333333334% 3252%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_155_c::after {max-width:75px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.TS_EAMCET_8_May_2024_S1_155_d {max-width:73px; max-height:50px; }
.TS_EAMCET_8_May_2024_S1_155_d::after {content: '\00a0';display: inline-block; width:73px; height:50px; background-position: 94.32624113475177% 98.66751269035532%; background-size: 679.4520547945206% 3252%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_155_d::after {max-width:73px; width:100%;height:0;padding: 0 0 68.4931506849315% 0;}
.TS_EAMCET_8_May_2024_S1_156 {max-width:473px; max-height:73px; }
.TS_EAMCET_8_May_2024_S1_156::after {content: '\00a0';display: inline-block; width:473px; height:73px; background-position: 4.3478260869565215% 9.401159047005795%; background-size: 104.86257928118393% 2227.3972602739727%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_156::after {max-width:473px; width:100%;height:0;padding: 0 0 15.433403805496829% 0;}
.TS_EAMCET_8_May_2024_S1_156_a {max-width:274px; max-height:71px; }
.TS_EAMCET_8_May_2024_S1_156_a::after {content: '\00a0';display: inline-block; width:274px; height:71px; background-position: 0.45045045045045046% 18.713826366559484%; background-size: 181.02189781021897% 2290.1408450704225%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_156_a::after {max-width:274px; width:100%;height:0;padding: 0 0 25.912408759124087% 0;}
.TS_EAMCET_8_May_2024_S1_156_b {max-width:255px; max-height:74px; }
.TS_EAMCET_8_May_2024_S1_156_b::after {content: '\00a0';display: inline-block; width:255px; height:74px; background-position: 0.4149377593360996% 38.78865979381443%; background-size: 194.50980392156862% 2197.2972972972975%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_156_b::after {max-width:255px; width:100%;height:0;padding: 0 0 29.019607843137255% 0;}
.TS_EAMCET_8_May_2024_S1_156_c {max-width:278px; max-height:70px; }
.TS_EAMCET_8_May_2024_S1_156_c::after {content: '\00a0';display: inline-block; width:278px; height:70px; background-position: 0.45871559633027525% 14.138817480719794%; background-size: 178.41726618705036% 2322.8571428571427%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_156_c::after {max-width:278px; width:100%;height:0;padding: 0 0 25.179856115107913% 0;}
.TS_EAMCET_8_May_2024_S1_156_d {max-width:265px; max-height:82px; }
.TS_EAMCET_8_May_2024_S1_156_d::after {content: '\00a0';display: inline-block; width:265px; height:82px; background-position: 0.4329004329004329% 33.6139896373057%; background-size: 187.16981132075472% 1982.9268292682927%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_156_d::after {max-width:265px; width:100%;height:0;padding: 0 0 30.943396226415093% 0;}
.TS_EAMCET_8_May_2024_S1_157 {max-width:478px; max-height:144px; }
.TS_EAMCET_8_May_2024_S1_157::after {content: '\00a0';display: inline-block; width:478px; height:144px; background-position: 5.555555555555555% 0.06747638326585695%; background-size: 103.76569037656904% 1129.1666666666667%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_157::after {max-width:478px; width:100%;height:0;padding: 0 0 30.1255230125523% 0;}
.TS_EAMCET_8_May_2024_S1_158_c {max-width:142px; max-height:87px; }
.TS_EAMCET_8_May_2024_S1_158_c::after {content: '\00a0';display: inline-block; width:142px; height:87px; background-position: 96.61016949152543% 85.44509421702404%; background-size: 349.2957746478873% 1868.9655172413793%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_158_c::after {max-width:142px; width:100%;height:0;padding: 0 0 61.267605633802816% 0;}
.TS_EAMCET_8_May_2024_S1_158_d {max-width:161px; max-height:83px; }
.TS_EAMCET_8_May_2024_S1_158_d::after {content: '\00a0';display: inline-block; width:161px; height:83px; background-position: 49.55223880597015% 94.10239792611796%; background-size: 308.0745341614907% 1959.0361445783133%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_158_d::after {max-width:161px; width:100%;height:0;padding: 0 0 51.5527950310559% 0;}
.TS_EAMCET_8_May_2024_S1_160_a {max-width:188px; max-height:86px; }
.TS_EAMCET_8_May_2024_S1_160_a::after {content: '\00a0';display: inline-block; width:188px; height:86px; background-position: 76.62337662337663% 51.16883116883117%; background-size: 263.82978723404256% 1890.6976744186047%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_160_a::after {max-width:188px; width:100%;height:0;padding: 0 0 45.744680851063826% 0;}
.TS_EAMCET_8_May_2024_S1_160_b {max-width:196px; max-height:91px; }
.TS_EAMCET_8_May_2024_S1_160_b::after {content: '\00a0';display: inline-block; width:196px; height:91px; background-position: 89% 37.13355048859935%; background-size: 253.0612244897959% 1786.8131868131868%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_160_b::after {max-width:196px; width:100%;height:0;padding: 0 0 46.42857142857143% 0;}
.TS_EAMCET_8_May_2024_S1_160_c {max-width:208px; max-height:95px; }
.TS_EAMCET_8_May_2024_S1_160_c::after {content: '\00a0';display: inline-block; width:208px; height:95px; background-position: 95.83333333333333% 19.98693664271718%; background-size: 238.46153846153845% 1711.578947368421%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_160_c::after {max-width:208px; width:100%;height:0;padding: 0 0 45.67307692307692% 0;}
.TS_EAMCET_8_May_2024_S1_160_d {max-width:211px; max-height:85px; }
.TS_EAMCET_8_May_2024_S1_160_d::after {content: '\00a0';display: inline-block; width:211px; height:85px; background-position: 98.24561403508773% 14.276443867618429%; background-size: 235.07109004739337% 1912.9411764705883%; background-image: url(ts_8_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_8_May_2024_S1_160_d::after {max-width:211px; width:100%;height:0;padding: 0 0 40.28436018957346% 0;}

@keyframes TS_EAMCET_8_May_2024_S1-frames {
    0% { background-position: 93.94736842105263% 70.83047357584077%;  }
    20% { background-position: 95.2% 59.523809523809526%;  }
    40% { background-position: 53.06748466257669% 76.53405259608901%;  }
    60% { background-position: 4.3478260869565215% 9.401159047005795%;  }
    80% { background-position: 5.555555555555555% 0.06747638326585695%;  }
}

.TS_EAMCET_8_May_2024_S1-animation {
    max-width: 116px;
    max-height: 169px;
}
.TS_EAMCET_8_May_2024_S1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 116px;
    height: 169px;
    padding: 0;
    background-image: url(ts_8_may_2024_s1_0.png);
    background-size: 427.58620689655174% 962.1301775147929%; 
    animation-name: TS_EAMCET_8_May_2024_S1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.TS_EAMCET_8_May_2024_S1-animation::after {
    max-width: 116px;
    width: 100%;
    height: 0;
    padding: 0 0 145.68965517241378% 0;
}

/* $TexturePacker:SmartUpdate:f26b0d57b9916a035ada070b5b31bc13:0cb8c140970ad27e0566fe6894d6c183:dff2cab346b16ac63eedfff63e1f678a$ */
