/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.TS_EAMCET_7_May_2024_S2_138 {max-width:289px; max-height:135px; }
.TS_EAMCET_7_May_2024_S2_138::after {content: '\00a0';display: inline-block; width:289px; height:135px; background-position: 64.97695852534562% 49.467275494672755%; background-size: 175.0865051903114% 1073.3333333333333%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_138::after {max-width:289px; width:100%;height:0;padding: 0 0 46.71280276816609% 0;}
.TS_EAMCET_7_May_2024_S2_140 {max-width:428px; max-height:77px; }
.TS_EAMCET_7_May_2024_S2_140::after {content: '\00a0';display: inline-block; width:428px; height:77px; background-position: 1.2820512820512822% 88.0466472303207%; background-size: 118.22429906542057% 1881.8181818181818%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_140::after {max-width:428px; width:100%;height:0;padding: 0 0 17.990654205607477% 0;}
.TS_EAMCET_7_May_2024_S2_140_a {max-width:83px; max-height:49px; }
.TS_EAMCET_7_May_2024_S2_140_a::after {content: '\00a0';display: inline-block; width:83px; height:49px; background-position: 99.76359338061465% 58.714285714285715%; background-size: 609.6385542168674% 2957.1428571428573%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_140_a::after {max-width:83px; width:100%;height:0;padding: 0 0 59.036144578313255% 0;}
.TS_EAMCET_7_May_2024_S2_140_b {max-width:66px; max-height:61px; }
.TS_EAMCET_7_May_2024_S2_140_b::after {content: '\00a0';display: inline-block; width:66px; height:61px; background-position: 97.95454545454545% 46.829971181556196%; background-size: 766.6666666666666% 2375.409836065574%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_140_b::after {max-width:66px; width:100%;height:0;padding: 0 0 92.42424242424242% 0;}
.TS_EAMCET_7_May_2024_S2_140_c {max-width:74px; max-height:51px; }
.TS_EAMCET_7_May_2024_S2_140_c::after {content: '\00a0';display: inline-block; width:74px; height:51px; background-position: 99.76851851851852% 55.07868383404864%; background-size: 683.7837837837837% 2841.176470588235%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_140_c::after {max-width:74px; width:100%;height:0;padding: 0 0 68.91891891891892% 0;}
.TS_EAMCET_7_May_2024_S2_140_d {max-width:68px; max-height:57px; }
.TS_EAMCET_7_May_2024_S2_140_d::after {content: '\00a0';display: inline-block; width:68px; height:57px; background-position: 98.40182648401826% 51.14942528735632%; background-size: 744.1176470588235% 2542.1052631578946%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_140_d::after {max-width:68px; width:100%;height:0;padding: 0 0 83.82352941176471% 0;}
.TS_EAMCET_7_May_2024_S2_143 {max-width:123px; max-height:129px; }
.TS_EAMCET_7_May_2024_S2_143::after {content: '\00a0';display: inline-block; width:123px; height:129px; background-position: 0.26109660574412535% 54.621212121212125%; background-size: 411.3821138211382% 1123.2558139534883%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_143::after {max-width:123px; width:100%;height:0;padding: 0 0 104.8780487804878% 0;}
.TS_EAMCET_7_May_2024_S2_145 {max-width:247px; max-height:230px; }
.TS_EAMCET_7_May_2024_S2_145::after {content: '\00a0';display: inline-block; width:247px; height:230px; background-position: 88.8030888030888% 18.539786710418376%; background-size: 204.8582995951417% 630%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_145::after {max-width:247px; width:100%;height:0;padding: 0 0 93.11740890688259% 0;}
.TS_EAMCET_7_May_2024_S2_155_a {max-width:161px; max-height:44px; }
.TS_EAMCET_7_May_2024_S2_155_a::after {content: '\00a0';display: inline-block; width:161px; height:44px; background-position: 44.63768115942029% 99.9288256227758%; background-size: 314.2857142857143% 3293.181818181818%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_155_a::after {max-width:161px; width:100%;height:0;padding: 0 0 27.32919254658385% 0;}
.TS_EAMCET_7_May_2024_S2_155_b {max-width:157px; max-height:44px; }
.TS_EAMCET_7_May_2024_S2_155_b::after {content: '\00a0';display: inline-block; width:157px; height:44px; background-position: 90.54441260744986% 99.9288256227758%; background-size: 322.2929936305732% 3293.181818181818%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_155_b::after {max-width:157px; width:100%;height:0;padding: 0 0 28.02547770700637% 0;}
.TS_EAMCET_7_May_2024_S2_155_c {max-width:188px; max-height:45px; }
.TS_EAMCET_7_May_2024_S2_155_c::after {content: '\00a0';display: inline-block; width:188px; height:45px; background-position: 0.31446540880503143% 96.15384615384616%; background-size: 269.1489361702128% 3220%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_155_c::after {max-width:188px; width:100%;height:0;padding: 0 0 23.93617021276596% 0;}
.TS_EAMCET_7_May_2024_S2_155_d {max-width:152px; max-height:50px; }
.TS_EAMCET_7_May_2024_S2_155_d::after {content: '\00a0';display: inline-block; width:152px; height:50px; background-position: 0.2824858757062147% 99.7855611150822%; background-size: 332.89473684210526% 2898%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_155_d::after {max-width:152px; width:100%;height:0;padding: 0 0 32.89473684210526% 0;}
.TS_EAMCET_7_May_2024_S2_159 {max-width:296px; max-height:74px; }
.TS_EAMCET_7_May_2024_S2_159::after {content: '\00a0';display: inline-block; width:296px; height:74px; background-position: 59.523809523809526% 57.163636363636364%; background-size: 170.94594594594594% 1958.1081081081081%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_159::after {max-width:296px; width:100%;height:0;padding: 0 0 25% 0;}
.TS_EAMCET_7_May_2024_S2_159_a {max-width:181px; max-height:74px; }
.TS_EAMCET_7_May_2024_S2_159_a::after {content: '\00a0';display: inline-block; width:181px; height:74px; background-position: 0.3076923076923077% 67.78181818181818%; background-size: 279.55801104972375% 1958.1081081081081%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_159_a::after {max-width:181px; width:100%;height:0;padding: 0 0 40.88397790055249% 0;}
.TS_EAMCET_7_May_2024_S2_159_b {max-width:144px; max-height:101px; }
.TS_EAMCET_7_May_2024_S2_159_b::after {content: '\00a0';display: inline-block; width:144px; height:101px; background-position: 74.03314917127072% 63.87240356083086%; background-size: 351.3888888888889% 1434.6534653465346%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_159_b::after {max-width:144px; width:100%;height:0;padding: 0 0 70.13888888888889% 0;}
.TS_EAMCET_7_May_2024_S2_159_c {max-width:148px; max-height:72px; }
.TS_EAMCET_7_May_2024_S2_159_c::after {content: '\00a0';display: inline-block; width:148px; height:72px; background-position: 0.27932960893854747% 73.12999273783588%; background-size: 341.8918918918919% 2012.5%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_159_c::after {max-width:148px; width:100%;height:0;padding: 0 0 48.648648648648646% 0;}
.TS_EAMCET_7_May_2024_S2_159_d {max-width:139px; max-height:119px; }
.TS_EAMCET_7_May_2024_S2_159_d::after {content: '\00a0';display: inline-block; width:139px; height:119px; background-position: 0.2724795640326976% 45.18796992481203%; background-size: 364.0287769784173% 1217.6470588235295%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_159_d::after {max-width:139px; width:100%;height:0;padding: 0 0 85.61151079136691% 0;}
.TS_EAMCET_7_May_2024_S2_160 {max-width:459px; max-height:85px; }
.TS_EAMCET_7_May_2024_S2_160::after {content: '\00a0';display: inline-block; width:459px; height:85px; background-position: 2.127659574468085% 82.25806451612904%; background-size: 110.239651416122% 1704.7058823529412%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_160::after {max-width:459px; width:100%;height:0;padding: 0 0 18.51851851851852% 0;}
.TS_EAMCET_7_May_2024_S2_160_a {max-width:266px; max-height:70px; }
.TS_EAMCET_7_May_2024_S2_160_a::after {content: '\00a0';display: inline-block; width:266px; height:70px; background-position: 0.4166666666666667% 62.43654822335025%; background-size: 190.22556390977442% 2070%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_160_a::after {max-width:266px; width:100%;height:0;padding: 0 0 26.31578947368421% 0;}
.TS_EAMCET_7_May_2024_S2_160_b {max-width:284px; max-height:51px; }
.TS_EAMCET_7_May_2024_S2_160_b::after {content: '\00a0';display: inline-block; width:284px; height:51px; background-position: 67.56756756756756% 73.31902718168813%; background-size: 178.16901408450704% 2841.176470588235%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_160_b::after {max-width:284px; width:100%;height:0;padding: 0 0 17.95774647887324% 0;}
.TS_EAMCET_7_May_2024_S2_160_c {max-width:277px; max-height:61px; }
.TS_EAMCET_7_May_2024_S2_160_c::after {content: '\00a0';display: inline-block; width:277px; height:61px; background-position: 79.91266375545851% 69.38040345821325%; background-size: 182.67148014440434% 2375.409836065574%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_160_c::after {max-width:277px; width:100%;height:0;padding: 0 0 22.021660649819495% 0;}
.TS_EAMCET_7_May_2024_S2_160_d {max-width:199px; max-height:63px; }
.TS_EAMCET_7_May_2024_S2_160_d::after {content: '\00a0';display: inline-block; width:199px; height:63px; background-position: 0.3257328990228013% 92.78499278499278%; background-size: 254.2713567839196% 2300%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_160_d::after {max-width:199px; width:100%;height:0;padding: 0 0 31.65829145728643% 0;}
.TS_EAMCET_7_May_2024_S2_17 {max-width:270px; max-height:224px; }
.TS_EAMCET_7_May_2024_S2_17::after {content: '\00a0';display: inline-block; width:270px; height:224px; background-position: 97.45762711864407% 0.08163265306122448%; background-size: 187.40740740740742% 646.875%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_17::after {max-width:270px; width:100%;height:0;padding: 0 0 82.96296296296296% 0;}
.TS_EAMCET_7_May_2024_S2_26 {max-width:176px; max-height:160px; }
.TS_EAMCET_7_May_2024_S2_26::after {content: '\00a0';display: inline-block; width:176px; height:160px; background-position: 0.30303030303030304% 23.196276183087665%; background-size: 287.5% 905.625%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_26::after {max-width:176px; width:100%;height:0;padding: 0 0 90.9090909090909% 0;}
.TS_EAMCET_7_May_2024_S2_27 {max-width:228px; max-height:297px; }
.TS_EAMCET_7_May_2024_S2_27::after {content: '\00a0';display: inline-block; width:228px; height:297px; background-position: 0.3597122302158273% 0.08680555555555555%; background-size: 221.9298245614035% 487.8787878787879%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_27::after {max-width:228px; width:100%;height:0;padding: 0 0 130.26315789473685% 0;}
.TS_EAMCET_7_May_2024_S2_95 {max-width:120px; max-height:140px; }
.TS_EAMCET_7_May_2024_S2_95::after {content: '\00a0';display: inline-block; width:120px; height:140px; background-position: 0.25906735751295334% 35.14132925897632%; background-size: 421.6666666666667% 1035%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_95::after {max-width:120px; width:100%;height:0;padding: 0 0 116.66666666666667% 0;}
.TS_EAMCET_7_May_2024_S2_96 {max-width:307px; max-height:192px; }
.TS_EAMCET_7_May_2024_S2_96::after {content: '\00a0';display: inline-block; width:307px; height:192px; background-position: 89.44723618090453% 36.35640413683373%; background-size: 164.82084690553745% 754.6875%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_96::after {max-width:307px; width:100%;height:0;padding: 0 0 62.54071661237785% 0;}
.TS_EAMCET_7_May_2024_S2_9_a {max-width:297px; max-height:44px; }
.TS_EAMCET_7_May_2024_S2_9_a::after {content: '\00a0';display: inline-block; width:297px; height:44px; background-position: 71.77033492822966% 76.65480427046263%; background-size: 170.37037037037038% 3293.181818181818%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_9_a::after {max-width:297px; width:100%;height:0;padding: 0 0 14.814814814814815% 0;}
.TS_EAMCET_7_May_2024_S2_9_b {max-width:293px; max-height:38px; }
.TS_EAMCET_7_May_2024_S2_9_b::after {content: '\00a0';display: inline-block; width:293px; height:38px; background-position: 89.2018779342723% 96.73990077958895%; background-size: 172.6962457337884% 3813.157894736842%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_9_b::after {max-width:293px; width:100%;height:0;padding: 0 0 12.969283276450511% 0;}
.TS_EAMCET_7_May_2024_S2_9_c {max-width:302px; max-height:38px; }
.TS_EAMCET_7_May_2024_S2_9_c::after {content: '\00a0';display: inline-block; width:302px; height:38px; background-position: 98.52941176470588% 93.97590361445783%; background-size: 167.5496688741722% 3813.157894736842%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_9_c::after {max-width:302px; width:100%;height:0;padding: 0 0 12.582781456953642% 0;}
.TS_EAMCET_7_May_2024_S2_9_d {max-width:302px; max-height:39px; }
.TS_EAMCET_7_May_2024_S2_9_d::after {content: '\00a0';display: inline-block; width:302px; height:39px; background-position: 98.52941176470588% 91.20567375886525%; background-size: 167.5496688741722% 3715.3846153846152%; background-image: url(ts_7_may_2024_s2_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S2_9_d::after {max-width:302px; width:100%;height:0;padding: 0 0 12.913907284768213% 0;}

@keyframes TS_EAMCET_7_May_2024_S2-frames {
    0% { background-position: 97.45762711864407% 0.08163265306122448%;  }
    9.090909090909092% { background-position: 0.30303030303030304% 23.196276183087665%;  }
    18.181818181818183% { background-position: 0.3597122302158273% 0.08680555555555555%;  }
    27.27272727272727% { background-position: 0.25906735751295334% 35.14132925897632%;  }
    36.36363636363637% { background-position: 89.44723618090453% 36.35640413683373%;  }
    45.45454545454545% { background-position: 64.97695852534562% 49.467275494672755%;  }
    54.54545454545454% { background-position: 1.2820512820512822% 88.0466472303207%;  }
    63.63636363636363% { background-position: 0.26109660574412535% 54.621212121212125%;  }
    72.72727272727273% { background-position: 88.8030888030888% 18.539786710418376%;  }
    81.81818181818183% { background-position: 59.523809523809526% 57.163636363636364%;  }
    90.9090909090909% { background-position: 2.127659574468085% 82.25806451612904%;  }
}

.TS_EAMCET_7_May_2024_S2-animation {
    max-width: 270px;
    max-height: 224px;
}
.TS_EAMCET_7_May_2024_S2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 270px;
    height: 224px;
    padding: 0;
    background-image: url(ts_7_may_2024_s2_0.png);
    background-size: 187.40740740740742% 646.875%; 
    animation-name: TS_EAMCET_7_May_2024_S2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.TS_EAMCET_7_May_2024_S2-animation::after {
    max-width: 270px;
    width: 100%;
    height: 0;
    padding: 0 0 82.96296296296296% 0;
}

/* $TexturePacker:SmartUpdate:8a3b56e0439a7f9b9effbcda31118187:28a3b4f69b40f01886b48d6fac0229f5:8109d436d8b42f559dc2b56f20e42dcc$ */
