/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.TS_EAMCET_7_May_2024_S1_102 {max-width:337px; max-height:148px; }
.TS_EAMCET_7_May_2024_S1_102::after {content: '\00a0';display: inline-block; width:337px; height:148px; background-position: 0.5847953216374269% 53.65223012281836%; background-size: 150.74183976261128% 1145.2702702702702%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_102::after {max-width:337px; width:100%;height:0;padding: 0 0 43.916913946587535% 0;}
.TS_EAMCET_7_May_2024_S1_102_a {max-width:381px; max-height:158px; }
.TS_EAMCET_7_May_2024_S1_102_a::after {content: '\00a0';display: inline-block; width:381px; height:158px; background-position: 0.7874015748031497% 20.2992843201041%; background-size: 133.33333333333334% 1072.7848101265822%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_102_a::after {max-width:381px; width:100%;height:0;padding: 0 0 41.46981627296588% 0;}
.TS_EAMCET_7_May_2024_S1_102_b {max-width:301px; max-height:125px; }
.TS_EAMCET_7_May_2024_S1_102_b::after {content: '\00a0';display: inline-block; width:301px; height:125px; background-position: 0.4830917874396135% 75.22292993630573%; background-size: 168.77076411960132% 1356%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_102_b::after {max-width:301px; width:100%;height:0;padding: 0 0 41.52823920265781% 0;}
.TS_EAMCET_7_May_2024_S1_102_c {max-width:341px; max-height:140px; }
.TS_EAMCET_7_May_2024_S1_102_c::after {content: '\00a0';display: inline-block; width:341px; height:140px; background-position: 0.5988023952095808% 44.30868167202572%; background-size: 148.97360703812316% 1210.7142857142858%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_102_c::after {max-width:341px; width:100%;height:0;padding: 0 0 41.05571847507331% 0;}
.TS_EAMCET_7_May_2024_S1_102_d {max-width:295px; max-height:150px; }
.TS_EAMCET_7_May_2024_S1_102_d::after {content: '\00a0';display: inline-block; width:295px; height:150px; background-position: 0.4694835680751174% 84.59546925566343%; background-size: 172.20338983050848% 1130%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_102_d::after {max-width:295px; width:100%;height:0;padding: 0 0 50.847457627118644% 0;}
.TS_EAMCET_7_May_2024_S1_118 {max-width:171px; max-height:123px; }
.TS_EAMCET_7_May_2024_S1_118::after {content: '\00a0';display: inline-block; width:171px; height:123px; background-position: 88.13056379821958% 85.43256997455471%; background-size: 297.07602339181284% 1378.0487804878048%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_118::after {max-width:171px; width:100%;height:0;padding: 0 0 71.9298245614035% 0;}
.TS_EAMCET_7_May_2024_S1_11_a {max-width:418px; max-height:45px; }
.TS_EAMCET_7_May_2024_S1_11_a::after {content: '\00a0';display: inline-block; width:418px; height:45px; background-position: 1.1111111111111112% 4.909090909090909%; background-size: 121.5311004784689% 3766.6666666666665%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_11_a::after {max-width:418px; width:100%;height:0;padding: 0 0 10.76555023923445% 0;}
.TS_EAMCET_7_May_2024_S1_11_b {max-width:389px; max-height:43px; }
.TS_EAMCET_7_May_2024_S1_11_b::after {content: '\00a0';display: inline-block; width:389px; height:43px; background-position: 0.8403361344537815% 16.222760290556902%; background-size: 130.59125964010283% 3941.860465116279%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_11_b::after {max-width:389px; width:100%;height:0;padding: 0 0 11.053984575835475% 0;}
.TS_EAMCET_7_May_2024_S1_11_c {max-width:408px; max-height:37px; }
.TS_EAMCET_7_May_2024_S1_11_c::after {content: '\00a0';display: inline-block; width:408px; height:37px; background-position: 1% 13.872135102533173%; background-size: 124.50980392156863% 4581.081081081081%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_11_c::after {max-width:408px; width:100%;height:0;padding: 0 0 9.068627450980392% 0;}
.TS_EAMCET_7_May_2024_S1_11_d {max-width:315px; max-height:50px; }
.TS_EAMCET_7_May_2024_S1_11_d::after {content: '\00a0';display: inline-block; width:315px; height:50px; background-position: 0.5181347150259067% 65.47112462006079%; background-size: 161.26984126984127% 3390%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_11_d::after {max-width:315px; width:100%;height:0;padding: 0 0 15.873015873015873% 0;}
.TS_EAMCET_7_May_2024_S1_127 {max-width:174px; max-height:181px; }
.TS_EAMCET_7_May_2024_S1_127::after {content: '\00a0';display: inline-block; width:174px; height:181px; background-position: 97.90419161676647% 64.86129458388375%; background-size: 291.95402298850576% 936.4640883977901%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_127::after {max-width:174px; width:100%;height:0;padding: 0 0 104.02298850574712% 0;}
.TS_EAMCET_7_May_2024_S1_139 {max-width:415px; max-height:102px; }
.TS_EAMCET_7_May_2024_S1_139::after {content: '\00a0';display: inline-block; width:415px; height:102px; background-position: 1.075268817204301% 7.9723791588198365%; background-size: 122.40963855421687% 1661.764705882353%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_139::after {max-width:415px; width:100%;height:0;padding: 0 0 24.57831325301205% 0;}
.TS_EAMCET_7_May_2024_S1_144 {max-width:208px; max-height:236px; }
.TS_EAMCET_7_May_2024_S1_144::after {content: '\00a0';display: inline-block; width:208px; height:236px; background-position: 0.3333333333333333% 99.93145990404386%; background-size: 244.23076923076923% 718.2203389830509%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_144::after {max-width:208px; width:100%;height:0;padding: 0 0 113.46153846153847% 0;}
.TS_EAMCET_7_May_2024_S1_154_a {max-width:252px; max-height:140px; }
.TS_EAMCET_7_May_2024_S1_154_a::after {content: '\00a0';display: inline-block; width:252px; height:140px; background-position: 82.03125% 94.34083601286174%; background-size: 201.5873015873016% 1210.7142857142858%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_154_a::after {max-width:252px; width:100%;height:0;padding: 0 0 55.55555555555556% 0;}
.TS_EAMCET_7_May_2024_S1_154_b {max-width:124px; max-height:137px; }
.TS_EAMCET_7_May_2024_S1_154_b::after {content: '\00a0';display: inline-block; width:124px; height:137px; background-position: 99.73958333333333% 20.025673940949936%; background-size: 409.6774193548387% 1237.2262773722628%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_154_b::after {max-width:124px; width:100%;height:0;padding: 0 0 110.48387096774194% 0;}
.TS_EAMCET_7_May_2024_S1_157_a {max-width:151px; max-height:82px; }
.TS_EAMCET_7_May_2024_S1_157_a::after {content: '\00a0';display: inline-block; width:151px; height:82px; background-position: 98.59943977591037% 30.00619962802232%; background-size: 336.42384105960264% 2067.0731707317073%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_157_a::after {max-width:151px; width:100%;height:0;padding: 0 0 54.3046357615894% 0;}
.TS_EAMCET_7_May_2024_S1_157_b {max-width:131px; max-height:85px; }
.TS_EAMCET_7_May_2024_S1_157_b::after {content: '\00a0';display: inline-block; width:131px; height:85px; background-position: 90.9814323607427% 50.62111801242236%; background-size: 387.78625954198475% 1994.1176470588234%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_157_b::after {max-width:131px; width:100%;height:0;padding: 0 0 64.8854961832061% 0;}
.TS_EAMCET_7_May_2024_S1_157_c {max-width:128px; max-height:80px; }
.TS_EAMCET_7_May_2024_S1_157_c::after {content: '\00a0';display: inline-block; width:128px; height:80px; background-position: 89.21052631578948% 55.78947368421053%; background-size: 396.875% 2118.75%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_157_c::after {max-width:128px; width:100%;height:0;padding: 0 0 62.5% 0;}
.TS_EAMCET_7_May_2024_S1_157_d {max-width:148px; max-height:90px; }
.TS_EAMCET_7_May_2024_S1_157_d::after {content: '\00a0';display: inline-block; width:148px; height:90px; background-position: 97.77777777777777% 35.32710280373832%; background-size: 343.2432432432432% 1883.3333333333333%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_157_d::after {max-width:148px; width:100%;height:0;padding: 0 0 60.810810810810814% 0;}
.TS_EAMCET_7_May_2024_S1_158 {max-width:478px; max-height:79px; }
.TS_EAMCET_7_May_2024_S1_158::after {content: '\00a0';display: inline-block; width:478px; height:79px; background-position: 3.3333333333333335% 0.06188118811881188%; background-size: 106.27615062761507% 2145.5696202531644%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_158::after {max-width:478px; width:100%;height:0;padding: 0 0 16.527196652719667% 0;}
.TS_EAMCET_7_May_2024_S1_158_a {max-width:133px; max-height:60px; }
.TS_EAMCET_7_May_2024_S1_158_a::after {content: '\00a0';display: inline-block; width:133px; height:60px; background-position: 91.46666666666667% 46.116207951070336%; background-size: 381.9548872180451% 2825%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_158_a::after {max-width:133px; width:100%;height:0;padding: 0 0 45.11278195488722% 0;}
.TS_EAMCET_7_May_2024_S1_158_c {max-width:123px; max-height:33px; }
.TS_EAMCET_7_May_2024_S1_158_c::after {content: '\00a0';display: inline-block; width:123px; height:33px; background-position: 99.48051948051948% 27.075812274368232%; background-size: 413.0081300813008% 5136.363636363636%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_158_c::after {max-width:123px; width:100%;height:0;padding: 0 0 26.829268292682926% 0;}
.TS_EAMCET_7_May_2024_S1_159_a {max-width:133px; max-height:95px; }
.TS_EAMCET_7_May_2024_S1_159_a::after {content: '\00a0';display: inline-block; width:133px; height:95px; background-position: 93.86666666666666% 41.125%; background-size: 381.9548872180451% 1784.2105263157894%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_159_a::after {max-width:133px; width:100%;height:0;padding: 0 0 71.42857142857143% 0;}
.TS_EAMCET_7_May_2024_S1_159_b {max-width:127px; max-height:84px; }
.TS_EAMCET_7_May_2024_S1_159_b::after {content: '\00a0';display: inline-block; width:127px; height:84px; background-position: 55.118110236220474% 99.81378026070763%; background-size: 400% 2017.857142857143%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_159_b::after {max-width:127px; width:100%;height:0;padding: 0 0 66.14173228346456% 0;}
.TS_EAMCET_7_May_2024_S1_159_c {max-width:195px; max-height:95px; }
.TS_EAMCET_7_May_2024_S1_159_c::after {content: '\00a0';display: inline-block; width:195px; height:95px; background-position: 96.80511182108626% 77.9375%; background-size: 260.5128205128205% 1784.2105263157894%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_159_c::after {max-width:195px; width:100%;height:0;padding: 0 0 48.717948717948715% 0;}
.TS_EAMCET_7_May_2024_S1_159_d {max-width:196px; max-height:82px; }
.TS_EAMCET_7_May_2024_S1_159_d::after {content: '\00a0';display: inline-block; width:196px; height:82px; background-position: 99.35897435897436% 72.16367017978921%; background-size: 259.18367346938777% 2067.0731707317073%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_159_d::after {max-width:196px; width:100%;height:0;padding: 0 0 41.83673469387755% 0;}
.TS_EAMCET_7_May_2024_S1_160 {max-width:308px; max-height:52px; }
.TS_EAMCET_7_May_2024_S1_160::after {content: '\00a0';display: inline-block; width:308px; height:52px; background-position: 0.5% 68.65489957395009%; background-size: 164.93506493506493% 3259.6153846153848%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_160::after {max-width:308px; width:100%;height:0;padding: 0 0 16.883116883116884% 0;}
.TS_EAMCET_7_May_2024_S1_20 {max-width:350px; max-height:217px; }
.TS_EAMCET_7_May_2024_S1_20::after {content: '\00a0';display: inline-block; width:350px; height:217px; background-position: 0.6329113924050633% 31.867388362652232%; background-size: 145.14285714285714% 781.1059907834101%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_20::after {max-width:350px; width:100%;height:0;padding: 0 0 62% 0;}
.TS_EAMCET_7_May_2024_S1_36 {max-width:325px; max-height:97px; }
.TS_EAMCET_7_May_2024_S1_36::after {content: '\00a0';display: inline-block; width:325px; height:97px; background-position: 0.546448087431694% 61.264080100125156%; background-size: 156.30769230769232% 1747.4226804123712%; background-image: url(ts_7_may_2024_s1_0.png);padding: 0; }
div.TS_EAMCET_7_May_2024_S1_36::after {max-width:325px; width:100%;height:0;padding: 0 0 29.846153846153847% 0;}

@keyframes TS_EAMCET_7_May_2024_S1-frames {
    0% { background-position: 0.6329113924050633% 31.867388362652232%;  }
    11.11111111111111% { background-position: 0.546448087431694% 61.264080100125156%;  }
    22.22222222222222% { background-position: 0.5847953216374269% 53.65223012281836%;  }
    33.33333333333333% { background-position: 88.13056379821958% 85.43256997455471%;  }
    44.44444444444444% { background-position: 97.90419161676647% 64.86129458388375%;  }
    55.55555555555556% { background-position: 1.075268817204301% 7.9723791588198365%;  }
    66.66666666666666% { background-position: 0.3333333333333333% 99.93145990404386%;  }
    77.77777777777779% { background-position: 3.3333333333333335% 0.06188118811881188%;  }
    88.88888888888889% { background-position: 0.5% 68.65489957395009%;  }
}

.TS_EAMCET_7_May_2024_S1-animation {
    max-width: 350px;
    max-height: 217px;
}
.TS_EAMCET_7_May_2024_S1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 350px;
    height: 217px;
    padding: 0;
    background-image: url(ts_7_may_2024_s1_0.png);
    background-size: 145.14285714285714% 781.1059907834101%; 
    animation-name: TS_EAMCET_7_May_2024_S1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.TS_EAMCET_7_May_2024_S1-animation::after {
    max-width: 350px;
    width: 100%;
    height: 0;
    padding: 0 0 62% 0;
}

/* $TexturePacker:SmartUpdate:a1b5f773585dc9697b86d5f506fac32c:0c950c8e6628232f3a9b7fa328ad6b4a:d896411100d2d3789f6b241bde14482b$ */
