/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_26_may_2025_s1107 {max-width:245px; max-height:116px; }
.eap_26_may_2025_s1107::after {content: '\00a0';display: inline-block; width:245px; height:116px; background-position: 95.42483660130719% 0.14204545454545456%; background-size: 412.2448979591837% 706.8965517241379%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1107::after {max-width:245px; width:100%;height:0;padding: 0 0 47.3469387755102% 0;}
.eap_26_may_2025_s1119 {max-width:248px; max-height:119px; }
.eap_26_may_2025_s1119::after {content: '\00a0';display: inline-block; width:248px; height:119px; background-position: 94.61942257217848% 20.256776034236804%; background-size: 407.258064516129% 689.0756302521008%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1119::after {max-width:248px; width:100%;height:0;padding: 0 0 47.983870967741936% 0;}
.eap_26_may_2025_s1156_a {max-width:165px; max-height:108px; }
.eap_26_may_2025_s1156_a::after {content: '\00a0';display: inline-block; width:165px; height:108px; background-position: 47.57396449704142% 74.57865168539325%; background-size: 612.1212121212121% 759.2592592592592%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1156_a::after {max-width:165px; width:100%;height:0;padding: 0 0 65.45454545454545% 0;}
.eap_26_may_2025_s1156_b {max-width:197px; max-height:120px; }
.eap_26_may_2025_s1156_b::after {content: '\00a0';display: inline-block; width:197px; height:120px; background-position: 88.68388683886839% 37.42857142857143%; background-size: 512.6903553299493% 683.3333333333334%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1156_b::after {max-width:197px; width:100%;height:0;padding: 0 0 60.91370558375635% 0;}
.eap_26_may_2025_s1156_c {max-width:122px; max-height:143px; }
.eap_26_may_2025_s1156_c::after {content: '\00a0';display: inline-block; width:122px; height:143px; background-position: 39.86486486486486% 94.53471196454949%; background-size: 827.8688524590164% 573.4265734265734%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1156_c::after {max-width:122px; width:100%;height:0;padding: 0 0 117.21311475409836% 0;}
.eap_26_may_2025_s1157_a {max-width:389px; max-height:82px; }
.eap_26_may_2025_s1157_a::after {content: '\00a0';display: inline-block; width:389px; height:82px; background-position: 76.81159420289855% 94.3089430894309%; background-size: 259.6401028277635% 1000%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1157_a::after {max-width:389px; width:100%;height:0;padding: 0 0 21.079691516709513% 0;}
.eap_26_may_2025_s1157_b {max-width:308px; max-height:89px; }
.eap_26_may_2025_s1157_b::after {content: '\00a0';display: inline-block; width:308px; height:89px; background-position: 99.85754985754986% 52.39398084815321%; background-size: 327.9220779220779% 921.3483146067416%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1157_b::after {max-width:308px; width:100%;height:0;padding: 0 0 28.896103896103895% 0;}
.eap_26_may_2025_s1157_c {max-width:291px; max-height:128px; }
.eap_26_may_2025_s1157_c::after {content: '\00a0';display: inline-block; width:291px; height:128px; background-position: 56.88456189151599% 38.29479768786127%; background-size: 347.0790378006873% 640.625%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1157_c::after {max-width:291px; width:100%;height:0;padding: 0 0 43.986254295532646% 0;}
.eap_26_may_2025_s1157_d {max-width:318px; max-height:102px; }
.eap_26_may_2025_s1157_d::after {content: '\00a0';display: inline-block; width:318px; height:102px; background-position: 0.14450867052023122% 99.86072423398329%; background-size: 317.61006289308176% 803.9215686274509%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1157_d::after {max-width:318px; width:100%;height:0;padding: 0 0 32.075471698113205% 0;}
.eap_26_may_2025_s1158 {max-width:400px; max-height:117px; }
.eap_26_may_2025_s1158::after {content: '\00a0';display: inline-block; width:400px; height:117px; background-position: 0.16393442622950818% 67.14082503556187%; background-size: 252.5% 700.8547008547008%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1158::after {max-width:400px; width:100%;height:0;padding: 0 0 29.25% 0;}
.eap_26_may_2025_s1158_a {max-width:417px; max-height:107px; }
.eap_26_may_2025_s1158_a::after {content: '\00a0';display: inline-block; width:417px; height:107px; background-position: 95.7841483979764% 82.46844319775596%; background-size: 242.2062350119904% 766.3551401869158%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1158_a::after {max-width:417px; width:100%;height:0;padding: 0 0 25.65947242206235% 0;}
.eap_26_may_2025_s1158_b {max-width:424px; max-height:122px; }
.eap_26_may_2025_s1158_b::after {content: '\00a0';display: inline-block; width:424px; height:122px; background-position: 50.51194539249147% 20.34383954154728%; background-size: 238.20754716981133% 672.1311475409836%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1158_b::after {max-width:424px; width:100%;height:0;padding: 0 0 28.77358490566038% 0;}
.eap_26_may_2025_s1158_c {max-width:424px; max-height:114px; }
.eap_26_may_2025_s1158_c::after {content: '\00a0';display: inline-block; width:424px; height:114px; background-position: 99.31740614334471% 66.9971671388102%; background-size: 238.20754716981133% 719.2982456140351%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1158_c::after {max-width:424px; width:100%;height:0;padding: 0 0 26.88679245283019% 0;}
.eap_26_may_2025_s1158_d {max-width:433px; max-height:140px; }
.eap_26_may_2025_s1158_d::after {content: '\00a0';display: inline-block; width:433px; height:140px; background-position: 51.2998266897747% 0.14705882352941177%; background-size: 233.25635103926098% 585.7142857142857%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1158_d::after {max-width:433px; width:100%;height:0;padding: 0 0 32.33256351039261% 0;}
.eap_26_may_2025_s1159 {max-width:407px; max-height:157px; }
.eap_26_may_2025_s1159::after {content: '\00a0';display: inline-block; width:407px; height:157px; background-position: 0.16583747927031509% 47.360482654600304%; background-size: 248.15724815724815% 522.2929936305733%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1159::after {max-width:407px; width:100%;height:0;padding: 0 0 38.57493857493858% 0;}
.eap_26_may_2025_s1160 {max-width:352px; max-height:126px; }
.eap_26_may_2025_s1160::after {content: '\00a0';display: inline-block; width:352px; height:126px; background-position: 0.1519756838905775% 85.01440922190201%; background-size: 286.9318181818182% 650.7936507936508%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s1160::after {max-width:352px; width:100%;height:0;padding: 0 0 35.79545454545455% 0;}
.eap_26_may_2025_s192 {max-width:172px; max-height:136px; }
.eap_26_may_2025_s192::after {content: '\00a0';display: inline-block; width:172px; height:136px; background-position: 48.80668257756563% 57.60233918128655%; background-size: 587.2093023255813% 602.9411764705883%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s192::after {max-width:172px; width:100%;height:0;padding: 0 0 79.06976744186046% 0;}
.eap_26_may_2025_s194 {max-width:294px; max-height:312px; }
.eap_26_may_2025_s194::after {content: '\00a0';display: inline-block; width:294px; height:312px; background-position: 0.13966480446927373% 0.1968503937007874%; background-size: 343.5374149659864% 262.8205128205128%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');padding: 0; }
div.eap_26_may_2025_s194::after {max-width:294px; width:100%;height:0;padding: 0 0 106.12244897959184% 0;}

@keyframes eap_26_may_2025_s-frames {
    0% { background-position: 48.80668257756563% 57.60233918128655%;  }
    14.285714285714285% { background-position: 0.13966480446927373% 0.1968503937007874%;  }
    28.57142857142857% { background-position: 95.42483660130719% 0.14204545454545456%;  }
    42.857142857142854% { background-position: 94.61942257217848% 20.256776034236804%;  }
    57.14285714285714% { background-position: 0.16393442622950818% 67.14082503556187%;  }
    71.42857142857143% { background-position: 0.16583747927031509% 47.360482654600304%;  }
    85.71428571428571% { background-position: 0.1519756838905775% 85.01440922190201%;  }
}

.eap_26_may_2025_s-animation {
    max-width: 172px;
    max-height: 136px;
}
.eap_26_may_2025_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 172px;
    height: 136px;
    padding: 0;
    background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_26_may_2025_shift_1_paper.png');
    background-size: 587.2093023255813% 602.9411764705883%; 
    animation-name: eap_26_may_2025_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_26_may_2025_s-animation::after {
    max-width: 172px;
    width: 100%;
    height: 0;
    padding: 0 0 79.06976744186046% 0;
}

/* $TexturePacker:SmartUpdate:b0d52012135a47c64b0c84bc65c7e240:aedd52b2f38c4601b323aba0e2708306:fcc89dbdefe277eb114b0b0756736244$ */
