/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_24_may_2025_s1107 {max-width:197px; max-height:165px; }
.eap_24_may_2025_s1107::after {content: '\00a0';display: inline-block; width:197px; height:165px; background-position: 99.94585814834868% 0.11990407673860912%; background-size: 1037.5634517766498% 605.4545454545455%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1107::after {max-width:197px; width:100%;height:0;padding: 0 0 83.75634517766497% 0;}
.eap_24_may_2025_s1119 {max-width:326px; max-height:153px; }
.eap_24_may_2025_s1119::after {content: '\00a0';display: inline-block; width:326px; height:153px; background-position: 91.0942956926659% 86.4066193853428%; background-size: 626.9938650306749% 652.9411764705883%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1119::after {max-width:326px; width:100%;height:0;padding: 0 0 46.93251533742331% 0;}
.eap_24_may_2025_s1139_a {max-width:143px; max-height:62px; }
.eap_24_may_2025_s1139_a::after {content: '\00a0';display: inline-block; width:143px; height:62px; background-position: 99.52656496580747% 86.01921024546425%; background-size: 1429.3706293706293% 1611.2903225806451%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1139_a::after {max-width:143px; width:100%;height:0;padding: 0 0 43.35664335664335% 0;}
.eap_24_may_2025_s1139_b {max-width:80px; max-height:68px; }
.eap_24_may_2025_s1139_b::after {content: '\00a0';display: inline-block; width:80px; height:68px; background-position: 54.175152749490834% 79.05477980665951%; background-size: 2555% 1469.1176470588234%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1139_b::after {max-width:80px; width:100%;height:0;padding: 0 0 85% 0;}
.eap_24_may_2025_s1139_c {max-width:119px; max-height:63px; }
.eap_24_may_2025_s1139_c::after {content: '\00a0';display: inline-block; width:119px; height:63px; background-position: 98.96103896103897% 92.84188034188034%; background-size: 1717.6470588235295% 1585.7142857142858%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1139_c::after {max-width:119px; width:100%;height:0;padding: 0 0 52.94117647058823% 0;}
.eap_24_may_2025_s1139_d {max-width:120px; max-height:59px; }
.eap_24_may_2025_s1139_d::after {content: '\00a0';display: inline-block; width:120px; height:59px; background-position: 99.01247401247402% 99.25531914893617%; background-size: 1703.3333333333333% 1693.2203389830509%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1139_d::after {max-width:120px; width:100%;height:0;padding: 0 0 49.166666666666664% 0;}
.eap_24_may_2025_s1156 {max-width:290px; max-height:225px; }
.eap_24_may_2025_s1156::after {content: '\00a0';display: inline-block; width:290px; height:225px; background-position: 64.08209806157355% 49.6124031007752%; background-size: 704.8275862068965% 444%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1156::after {max-width:290px; width:100%;height:0;padding: 0 0 77.58620689655173% 0;}
.eap_24_may_2025_s1157_a {max-width:123px; max-height:87px; }
.eap_24_may_2025_s1157_a::after {content: '\00a0';display: inline-block; width:123px; height:87px; background-position: 96.09578344612181% 32.45614035087719%; background-size: 1661.7886178861788% 1148.2758620689656%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1157_a::after {max-width:123px; width:100%;height:0;padding: 0 0 70.73170731707317% 0;}
.eap_24_may_2025_s1157_b {max-width:141px; max-height:77px; }
.eap_24_may_2025_s1157_b::after {content: '\00a0';display: inline-block; width:141px; height:77px; background-position: 99.42196531791907% 78.9587852494577%; background-size: 1449.645390070922% 1297.4025974025974%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1157_b::after {max-width:141px; width:100%;height:0;padding: 0 0 54.60992907801418% 0;}
.eap_24_may_2025_s1157_c {max-width:147px; max-height:72px; }
.eap_24_may_2025_s1157_c::after {content: '\00a0';display: inline-block; width:147px; height:72px; background-position: 59.25144965735372% 65.80366774541532%; background-size: 1390.4761904761904% 1387.5%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1157_c::after {max-width:147px; width:100%;height:0;padding: 0 0 48.97959183673469% 0;}
.eap_24_may_2025_s1158 {max-width:339px; max-height:92px; }
.eap_24_may_2025_s1158::after {content: '\00a0';display: inline-block; width:339px; height:92px; background-position: 91.78885630498533% 97.57442116868798%; background-size: 602.9498525073747% 1085.8695652173913%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1158::after {max-width:339px; width:100%;height:0;padding: 0 0 27.13864306784661% 0;}
.eap_24_may_2025_s190 {max-width:123px; max-height:128px; }
.eap_24_may_2025_s190::after {content: '\00a0';display: inline-block; width:123px; height:128px; background-position: 96.09578344612181% 19.173363949483353%; background-size: 1661.7886178861788% 780.46875%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s190::after {max-width:123px; width:100%;height:0;padding: 0 0 104.0650406504065% 0;}
.eap_24_may_2025_s1_sol_107 {max-width:360px; max-height:196px; }
.eap_24_may_2025_s1_sol_107::after {content: '\00a0';display: inline-block; width:360px; height:196px; background-position: 0.05938242280285035% 92.5280199252802%; background-size: 567.7777777777778% 509.6938775510204%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_107::after {max-width:360px; width:100%;height:0;padding: 0 0 54.44444444444444% 0;}
.eap_24_may_2025_s1_sol_109 {max-width:360px; max-height:145px; }
.eap_24_may_2025_s1_sol_109::after {content: '\00a0';display: inline-block; width:360px; height:145px; background-position: 88.18289786223278% 21.194379391100703%; background-size: 567.7777777777778% 688.9655172413793%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_109::after {max-width:360px; width:100%;height:0;padding: 0 0 40.27777777777778% 0;}
.eap_24_may_2025_s1_sol_11 {max-width:360px; max-height:95px; }
.eap_24_may_2025_s1_sol_11::after {content: '\00a0';display: inline-block; width:360px; height:95px; background-position: 88.18289786223278% 36.17256637168141%; background-size: 567.7777777777778% 1051.578947368421%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_11::after {max-width:360px; width:100%;height:0;padding: 0 0 26.38888888888889% 0;}
.eap_24_may_2025_s1_sol_116 {max-width:360px; max-height:194px; }
.eap_24_may_2025_s1_sol_116::after {content: '\00a0';display: inline-block; width:360px; height:194px; background-position: 66.7458432304038% 0.12422360248447205%; background-size: 567.7777777777778% 514.9484536082474%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_116::after {max-width:360px; width:100%;height:0;padding: 0 0 53.888888888888886% 0;}
.eap_24_may_2025_s1_sol_119 {max-width:360px; max-height:187px; }
.eap_24_may_2025_s1_sol_119::after {content: '\00a0';display: inline-block; width:360px; height:187px; background-position: 66.7458432304038% 24.137931034482758%; background-size: 567.7777777777778% 534.2245989304813%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_119::after {max-width:360px; width:100%;height:0;padding: 0 0 51.94444444444444% 0;}
.eap_24_may_2025_s1_sol_139 {max-width:400px; max-height:59px; }
.eap_24_may_2025_s1_sol_139::after {content: '\00a0';display: inline-block; width:400px; height:59px; background-position: 46.41119221411192% 99.46808510638297%; background-size: 511% 1693.2203389830509%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_139::after {max-width:400px; width:100%;height:0;padding: 0 0 14.75% 0;}
.eap_24_may_2025_s1_sol_139_1 {max-width:400px; max-height:128px; }
.eap_24_may_2025_s1_sol_139_1::after {content: '\00a0';display: inline-block; width:400px; height:128px; background-position: 43.97810218978102% 56.14236509758898%; background-size: 511% 780.46875%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_139_1::after {max-width:400px; width:100%;height:0;padding: 0 0 32% 0;}
.eap_24_may_2025_s1_sol_148 {max-width:300px; max-height:198px; }
.eap_24_may_2025_s1_sol_148::after {content: '\00a0';display: inline-block; width:300px; height:198px; background-position: 43.75% 91.88514357053683%; background-size: 681.3333333333334% 504.54545454545456%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_148::after {max-width:300px; width:100%;height:0;padding: 0 0 66% 0;}
.eap_24_may_2025_s1_sol_156_1 {max-width:400px; max-height:117px; }
.eap_24_may_2025_s1_sol_156_1::after {content: '\00a0';display: inline-block; width:400px; height:117px; background-position: 43.97810218978102% 70.06802721088435%; background-size: 511% 853.8461538461538%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_156_1::after {max-width:400px; width:100%;height:0;padding: 0 0 29.25% 0;}
.eap_24_may_2025_s1_sol_156_2 {max-width:400px; max-height:92px; }
.eap_24_may_2025_s1_sol_156_2::after {content: '\00a0';display: inline-block; width:400px; height:92px; background-position: 70.8029197080292% 80.59536934950386%; background-size: 511% 1085.8695652173913%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_156_2::after {max-width:400px; width:100%;height:0;padding: 0 0 23% 0;}
.eap_24_may_2025_s1_sol_156_3 {max-width:400px; max-height:97px; }
.eap_24_may_2025_s1_sol_156_3::after {content: '\00a0';display: inline-block; width:400px; height:97px; background-position: 86.0705596107056% 59.75609756097561%; background-size: 511% 1029.8969072164948%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_156_3::after {max-width:400px; width:100%;height:0;padding: 0 0 24.25% 0;}
.eap_24_may_2025_s1_sol_157 {max-width:400px; max-height:66px; }
.eap_24_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:66px; background-position: 70.8029197080292% 98.07073954983923%; background-size: 511% 1513.6363636363637%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 16.5% 0;}
.eap_24_may_2025_s1_sol_158 {max-width:400px; max-height:149px; }
.eap_24_may_2025_s1_sol_158::after {content: '\00a0';display: inline-block; width:400px; height:149px; background-position: 43.97810218978102% 39.88235294117647%; background-size: 511% 670.4697986577181%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_158::after {max-width:400px; width:100%;height:0;padding: 0 0 37.25% 0;}
.eap_24_may_2025_s1_sol_158_1 {max-width:400px; max-height:175px; }
.eap_24_may_2025_s1_sol_158_1::after {content: '\00a0';display: inline-block; width:400px; height:175px; background-position: 43.97810218978102% 0.12135922330097088%; background-size: 511% 570.8571428571429%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_158_1::after {max-width:400px; width:100%;height:0;padding: 0 0 43.75% 0;}
.eap_24_may_2025_s1_sol_159 {max-width:400px; max-height:117px; }
.eap_24_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:400px; height:117px; background-position: 22.019464720194648% 89.9092970521542%; background-size: 511% 853.8461538461538%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_159::after {max-width:400px; width:100%;height:0;padding: 0 0 29.25% 0;}
.eap_24_may_2025_s1_sol_159_a {max-width:400px; max-height:93px; }
.eap_24_may_2025_s1_sol_159_a::after {content: '\00a0';display: inline-block; width:400px; height:93px; background-position: 77.37226277372262% 70.30905077262693%; background-size: 511% 1074.1935483870968%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_159_a::after {max-width:400px; width:100%;height:0;padding: 0 0 23.25% 0;}
.eap_24_may_2025_s1_sol_159_b {max-width:400px; max-height:115px; }
.eap_24_may_2025_s1_sol_159_b::after {content: '\00a0';display: inline-block; width:400px; height:115px; background-position: 86.0705596107056% 47.85067873303167%; background-size: 511% 868.695652173913%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_159_b::after {max-width:400px; width:100%;height:0;padding: 0 0 28.75% 0;}
.eap_24_may_2025_s1_sol_160 {max-width:400px; max-height:90px; }
.eap_24_may_2025_s1_sol_160::after {content: '\00a0';display: inline-block; width:400px; height:90px; background-position: 70.8029197080292% 90.64906490649065%; background-size: 511% 1110%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_160::after {max-width:400px; width:100%;height:0;padding: 0 0 22.5% 0;}
.eap_24_may_2025_s1_sol_160_a {max-width:400px; max-height:161px; }
.eap_24_may_2025_s1_sol_160_a::after {content: '\00a0';display: inline-block; width:400px; height:161px; background-position: 43.97810218978102% 21.121718377088307%; background-size: 511% 620.4968944099379%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_160_a::after {max-width:400px; width:100%;height:0;padding: 0 0 40.25% 0;}
.eap_24_may_2025_s1_sol_160_b {max-width:400px; max-height:87px; }
.eap_24_may_2025_s1_sol_160_b::after {content: '\00a0';display: inline-block; width:400px; height:87px; background-position: 22.019464720194648% 99.89035087719299%; background-size: 511% 1148.2758620689656%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_160_b::after {max-width:400px; width:100%;height:0;padding: 0 0 21.75% 0;}
.eap_24_may_2025_s1_sol_24 {max-width:360px; max-height:284px; }
.eap_24_may_2025_s1_sol_24::after {content: '\00a0';display: inline-block; width:360px; height:284px; background-position: 0.05938242280285035% 0.13986013986013987%; background-size: 567.7777777777778% 351.76056338028167%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_24::after {max-width:360px; width:100%;height:0;padding: 0 0 78.88888888888889% 0;}
.eap_24_may_2025_s1_sol_24_1 {max-width:360px; max-height:230px; }
.eap_24_may_2025_s1_sol_24_1::after {content: '\00a0';display: inline-block; width:360px; height:230px; background-position: 0.05938242280285035% 37.19115734720416%; background-size: 567.7777777777778% 434.3478260869565%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_24_1::after {max-width:360px; width:100%;height:0;padding: 0 0 63.888888888888886% 0;}
.eap_24_may_2025_s1_sol_82 {max-width:360px; max-height:90px; }
.eap_24_may_2025_s1_sol_82::after {content: '\00a0';display: inline-block; width:360px; height:90px; background-position: 99.34679334916865% 70.07700770077008%; background-size: 567.7777777777778% 1110%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_82::after {max-width:360px; width:100%;height:0;padding: 0 0 25% 0;}
.eap_24_may_2025_s1_sol_84 {max-width:360px; max-height:179px; }
.eap_24_may_2025_s1_sol_84::after {content: '\00a0';display: inline-block; width:360px; height:179px; background-position: 88.18289786223278% 0.12195121951219512%; background-size: 567.7777777777778% 558.1005586592179%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_84::after {max-width:360px; width:100%;height:0;padding: 0 0 49.72222222222222% 0;}
.eap_24_may_2025_s1_sol_85 {max-width:360px; max-height:225px; }
.eap_24_may_2025_s1_sol_85::after {content: '\00a0';display: inline-block; width:360px; height:225px; background-position: 0.05938242280285035% 66.79586563307494%; background-size: 567.7777777777778% 444%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_85::after {max-width:360px; width:100%;height:0;padding: 0 0 62.5% 0;}
.eap_24_may_2025_s1_sol_86 {max-width:360px; max-height:202px; }
.eap_24_may_2025_s1_sol_86::after {content: '\00a0';display: inline-block; width:360px; height:202px; background-position: 21.49643705463183% 28.732747804265998%; background-size: 567.7777777777778% 494.55445544554453%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_86::after {max-width:360px; width:100%;height:0;padding: 0 0 56.111111111111114% 0;}
.eap_24_may_2025_s1_sol_88 {max-width:360px; max-height:191px; }
.eap_24_may_2025_s1_sol_88::after {content: '\00a0';display: inline-block; width:360px; height:191px; background-position: 21.49643705463183% 53.46534653465346%; background-size: 567.7777777777778% 523.0366492146596%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_88::after {max-width:360px; width:100%;height:0;padding: 0 0 53.05555555555556% 0;}
.eap_24_may_2025_s1_sol_90 {max-width:360px; max-height:168px; }
.eap_24_may_2025_s1_sol_90::after {content: '\00a0';display: inline-block; width:360px; height:168px; background-position: 21.49643705463183% 75.09025270758123%; background-size: 567.7777777777778% 594.6428571428571%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_90::after {max-width:360px; width:100%;height:0;padding: 0 0 46.666666666666664% 0;}
.eap_24_may_2025_s1_sol_94 {max-width:360px; max-height:227px; }
.eap_24_may_2025_s1_sol_94::after {content: '\00a0';display: inline-block; width:360px; height:227px; background-position: 21.49643705463183% 0.12953367875647667%; background-size: 567.7777777777778% 440.08810572687224%; background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');padding: 0; }
div.eap_24_may_2025_s1_sol_94::after {max-width:360px; width:100%;height:0;padding: 0 0 63.05555555555556% 0;}

@keyframes eap_24_may_2025_s-frames {
    0% { background-position: 96.09578344612181% 19.173363949483353%;  }
    20% { background-position: 99.94585814834868% 0.11990407673860912%;  }
    40% { background-position: 91.0942956926659% 86.4066193853428%;  }
    60% { background-position: 64.08209806157355% 49.6124031007752%;  }
    80% { background-position: 91.78885630498533% 97.57442116868798%;  }
}

.eap_24_may_2025_s-animation {
    max-width: 123px;
    max-height: 128px;
}
.eap_24_may_2025_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 123px;
    height: 128px;
    padding: 0;
    background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');
    background-size: 1661.7886178861788% 780.46875%; 
    animation-name: eap_24_may_2025_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_24_may_2025_s-animation::after {
    max-width: 123px;
    width: 100%;
    height: 0;
    padding: 0 0 104.0650406504065% 0;
}

@keyframes eap_24_may_2025_s1_sol-frames {
    0% { background-position: 88.18289786223278% 36.17256637168141%;  }
    5.263157894736842% { background-position: 0.05938242280285035% 0.13986013986013987%;  }
    10.526315789473683% { background-position: 99.34679334916865% 70.07700770077008%;  }
    15.789473684210526% { background-position: 88.18289786223278% 0.12195121951219512%;  }
    21.052631578947366% { background-position: 0.05938242280285035% 66.79586563307494%;  }
    26.31578947368421% { background-position: 21.49643705463183% 28.732747804265998%;  }
    31.57894736842105% { background-position: 21.49643705463183% 53.46534653465346%;  }
    36.84210526315789% { background-position: 21.49643705463183% 75.09025270758123%;  }
    42.10526315789473% { background-position: 21.49643705463183% 0.12953367875647667%;  }
    47.368421052631575% { background-position: 0.05938242280285035% 92.5280199252802%;  }
    52.63157894736842% { background-position: 88.18289786223278% 21.194379391100703%;  }
    57.89473684210527% { background-position: 66.7458432304038% 0.12422360248447205%;  }
    63.1578947368421% { background-position: 66.7458432304038% 24.137931034482758%;  }
    68.42105263157895% { background-position: 46.41119221411192% 99.46808510638297%;  }
    73.68421052631578% { background-position: 43.75% 91.88514357053683%;  }
    78.94736842105263% { background-position: 70.8029197080292% 98.07073954983923%;  }
    84.21052631578947% { background-position: 43.97810218978102% 39.88235294117647%;  }
    89.47368421052632% { background-position: 22.019464720194648% 89.9092970521542%;  }
    94.73684210526315% { background-position: 70.8029197080292% 90.64906490649065%;  }
}

.eap_24_may_2025_s1_sol-animation {
    max-width: 360px;
    max-height: 95px;
}
.eap_24_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 95px;
    padding: 0;
    background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');
    background-size: 567.7777777777778% 1051.578947368421%; 
    animation-name: eap_24_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_24_may_2025_s1_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 26.38888888888889% 0;
}

@keyframes eap_24_may_2025_s1_sol_156-frames {
    0% { background-position: 43.97810218978102% 70.06802721088435%;  }
    33.33333333333333% { background-position: 70.8029197080292% 80.59536934950386%;  }
    66.66666666666666% { background-position: 86.0705596107056% 59.75609756097561%;  }
}

.eap_24_may_2025_s1_sol_156-animation {
    max-width: 400px;
    max-height: 117px;
}
.eap_24_may_2025_s1_sol_156-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 117px;
    padding: 0;
    background-image: url('https://bnnpmfdnsngxhxydvecx.supabase.co/storage/v1/object/public/images/sprites/ap_eapcet_24_may_2025_shift_1_paper.png');
    background-size: 511% 853.8461538461538%; 
    animation-name: eap_24_may_2025_s1_sol_156-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_24_may_2025_s1_sol_156-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 29.25% 0;
}

/* $TexturePacker:SmartUpdate:1770873514ba2f2e6eda5ca4bbb1678a:35698d0cdf015e44fa198517e87b77c7:2722ddc96128ed3b4fa2c4f0e3e54a19$ */
